.bar {
    width: 70%;
    margin: auto;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: none;
}

.block {
    width: 70%;
    margin: auto;
}

.service {
    margin: 20px 0;
    text-align: center;
}

footer {
    background-color: #874412;
}

footer .information {
    padding: 80px 0 20px;
    color: #fff;
}

footer .copyright {
    padding: 10px;
    border-top: 1px solid #fff;
    color: #fff;
    text-align: center;
}